@model ProductListDto
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="product-label-group">
    @if (Model.IsDiscount == true)
    {
        <label class="product-label label-discount">%@Model.DiscountRate <i class="w-icon-sale"></i> </label>
    }

    <label class="product-label label-new">@Model.BFMoney₺ <i class="w-icon-wallet2"></i></label>
    
    @if (Model.NumberOfClick > 1000)
    {
        <label class="product-label label-hot">Tercih edilen</label>
    }



</div>